/*属性（事件）鼠标hover展示详细信息弹出框样式*/
.eas-panel-popver,
.eas-index-popver {
  position: absolute;
  width: 244px;
  height: 140px;
  overflow-y: auto;
  padding: 14px 20px 18px 20px;
  bottom: 0;
  color: var(--eas-text-color-primary);
  background: var(--eas-white-bg-color);
  box-shadow: 0px 3px 6px 1px rgba(42, 51, 84, 0.09);
  border-radius: var(--eas-border-radius-4);
}

.popver-info-item {
  display: flex;
  justify-content: space-between;
  font-size: var(--eas-font-size-base);

  &__left {
    width: 170px;
    white-space: normal;
    word-break: break-all;
  }

  &__right {
    flex-shrink: 0;
    width: 20px;
    margin-left: 6px;
    cursor: pointer;

    &:hover {
      color: var(--eas-color-primary);
    }
  }
}

.attribute-en-name {
  min-height: 16px;
  white-space: normal;
  word-break: break-all;
  font-size: var(--eas-font-size-small);
  color: var(--eas-text-color-light);
}

.attribute-other {
  min-height: 16px;
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
  font-size: var(--eas-font-size-small);
  color: var(--eas-text-color-primary);
}

.attribute-update {
  display: flex;
}

.attribute-update-method {
  margin-left: 6px;
}

.attribute-remark {
  min-height: 16px;
  word-break: break-all;
}
/*end*/

/*分析左侧相关-start*/
.eas-drop-box {
  min-width: 44px;
  max-width: 196px;
  height: 28px;
  line-height: 18px;
  vertical-align: middle;
  padding: 4px 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 1px solid var(--eas-border-color);
  border-radius: var(--eas-border-radius);
  background-color: var(--eas-white-bg-color);
  cursor: pointer;
  color: var(--eas-text-color-primary);
  &:hover {
    border-color: var(--eas-color-primary);
  }
  &.no-permission {
    border-color: var(--eas-color-error) !important;
  }
}

.split-icon-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border: 1px solid var(--eas-border-color);
  margin-right: 8px;
  cursor: pointer;
  background-color: #fff;
  color: var(--eas-text-color-light);
  &:hover {
    border-color: var(--eas-color-primary);
  }
  &.is-active {
    color: var(--eas-color-primary);
  }
}

.custom-filter-icon {
  width: 28px;
  height: 28px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: var(--eas-text-color-primary);
  border: 1px solid var(--eas-border-color);
  background-color: #fff;
  cursor: pointer;
  &:hover {
    color: var(--eas-color-primary);
    border-color: var(--eas-color-primary);
  }
}

.symbol-num {
  height: 28px;
  min-width: 28px;
  padding: 0px 10px;
  border: 1px solid var(--eas-border-color);
  border-radius: var(--eas-border-radius-4);
}

.group-summary {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: var(--eas-font-size-large);
  color: var(--eas-text-color-light);
  border-radius: var(--eas-border-radius);
  border: 1px solid var(--eas-border-color);
  background-color: var(--eas-white-bg-color);
  margin-right: 8px;
  &:hover {
    border-color: var(--eas-color-primary);
  }
}

/*分析模型中的指标（事件和属性）和筛选条件加背景颜色去边框、 hover时背景颜色为白色加边框*/
.eas-block-container {
  .eas-drop-box,
  .split-icon-btn,
  .custom-filter-icon,
  .symbol-num,
  .group-summary {
    background-color: var(--eas-hover-color-1);
    border-color: transparent;
    &:not(.symbol-num):hover {
      border-color: var(--eas-color-primary);
    }
  }
  .eas-filter-container {
    &.el-input__wrapper,
    .el-input__wrapper,
    .el-select__wrapper {
      background-color: var(--eas-hover-color-1);
      box-shadow: 0 0 0 1px transparent inset;
      .el-range-input,
      .el-input__inner {
        color: var(--eas-text-color-primary) !important;
      }
    }
    &.el-select {
      .el-tag {
        background-color: #fff;
      }
    }
  }
  .code-item-num-input {
    .el-input .el-input__wrapper {
      background-color: var(--eas-hover-color-1);
      border-radius: var(--eas-border-radius-4);
      box-shadow: none;
      border: 1px solid #fff;
      padding: 1px 10px;
    }
  }
  &:hover {
    .eas-drop-box,
    .split-icon-btn,
    .custom-filter-icon,
    .symbol-num,
    .group-summary {
      background-color: #fff;
      border-color: var(--eas-border-color);
      &:not(.symbol-num):hover {
        border-color: var(--eas-color-primary);
      }
    }
    .eas-filter-container {
      &.el-input__wrapper,
      .el-input__wrapper,
      .el-select__wrapper {
        background-color: #fff;
        box-shadow: 0 0 0 1px var(--eas-border-color) inset;
        &:hover {
          box-shadow: 0 0 0 1px var(--eas-color-primary) inset;
        }
      }
      &.el-select {
        .el-tag {
          background-color: var(--eas-color-primary-light-1);
        }
      }
    }
    .code-item-num-input {
      .el-input .el-input__wrapper {
        background-color: #fff;
        border-radius: var(--eas-border-radius-4);
        border: 1px solid var(--eas-border-color);
        padding: 1px 10px;
      }
    }
  }
}

.analysis-hover__bg {
  &:hover {
    background-color: var(--eas-hover-color);
    border-radius: var(--eas-border-radius-4);
  }
}

.analysis-icon__btn-hover {
  color: var(--eas-color-primary) !important;
  background-color: var(--eas-border-color) !important;
  border-radius: var(--eas-border-radius)!important;
}

.analysis-icon__btn {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--eas-font-size-medium);
  color: var(--eas-text-color-light);
  cursor: pointer;

  &:hover {
    @extend .analysis-icon__btn-hover
  }

  & + & {
    margin-left: 5px;
  }
}

.alias-input {
  .el-input__wrapper {
    box-shadow: none;
    padding: 0px;
    border-radius: 0px;
    background-color: transparent;
    .el-input__inner {
      height: 28px;
      color: var(--eas-text-color-primary);
    }
  }
}

.tag-num,
.tag-drag {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #5473e8;
  color: #fff;
  font-size: var(--eas-font-size-small);
  font-weight: 400;
  border-radius: var(--eas-border-radius);
  transition: all 0.3s;
}

.tag-drag {
  display: none;
}

.analysis-btn__add {
  margin: 4px 20px;
}

.analysis-group-container {
  margin: 0px 10px;
}

.vxe-header-custom {
  position: relative;
  left: 0;
  top: 0;
  white-space: pre !important;
  .sort-number {
    position: absolute;
    top: 0;
    right: -25px;
    font-size: 12px !important;
    line-height: 19px;
    font-weight: bold !important;
    color: var(--eas-color-primary) !important;
  }
}

.group-drop-box {
  display: inline-flex;
  min-width: 76px;
  height: 32px;
  margin: 0px 10px;
  padding: 8px 10px;
  border: 1px solid var(--eas-text-color-light-1);
  border-radius: var(--eas-border-radius-4);
  background-color: var(--eas-white-bg-color);
  cursor: pointer;
  color: var(--eas-text-color-primary);
  &__text {
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &.is-unfold {
    border-color: var(--eas-color-primary);
  }
}

.arrow-icon {
  transition: all 0.3s;
  color: var(--eas-text-color-light);
  margin-left: 10px;
}
.is-rotate {
  transform: rotate(-180deg);
}

.custom-checkbox-group {
  width: 100%;
  padding: 4px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  .custom-content-item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 10px 6px;
    margin: 0px;
    border-radius: var(--eas-border-radius);
    &:hover {
      background-color: var(--eas-hover-color);
    }
    &__label {
      max-width: 200px;
    }
  }
}
.chart-tool {
  height: 32px;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboard-analysis-card {
  overflow: hidden;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  > .chart-view-body {
    overflow: hidden;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    > .h100-percentage,
    > .chart {
      width: 100%;
      height: 100%;
    }

    :deep(.vxe-table) {
      .vxe-body--column {
        vertical-align: middle;
      }
    }
    .el-carousel__container {
      height: 100%;
    }
  }
}
/*end*/

.cancel-btn {
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2000;
}
